# Visual Studio
.vs/
 
# Build folders
bin/
obj/
InvoiceCoreAPI/logs/*.txt
 
# User-specific files
*.user
*.suo
*.cache
*.log
 
# .NET
*.dll
*.exe
 
# VS Code (optional)
.vscode/

TestResults/
coveragereport/
CoverageReport/
Invoice.CoreAPI/logs/*.txt